@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities for Drut Rebrand */
.text-electric-green {
    color: #00FF94;
}

.bg-electric-green {
    background-color: #00FF94;
}

.border-electric-green {
    border-color: #00FF94;
}

.selection\:bg-electric-green::selection {
    background-color: #00FF94;
    color: #000;
}

/* Animations */
@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.animate-pulse-slow {
    animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Base resets */
body {
    background-color: #050505;
    color: #fff;
    cursor: default;
    font-family: 'Inter', sans-serif;
    /* Default sans */
}

/* Monospace Override */
.font-mono {
    font-family: 'JetBrains Mono', monospace !important;
}

/* Terminal Grid Background */
.bg-terminal-grid {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(39, 39, 42, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(39, 39, 42, 0.5) 1px, transparent 1px);
    background-position: center top;
}